{#
  Copyright (C) 2020-2025 Embedded AMS B.V. - All Rights Reserved

  This file is part of Embedded Proto.

  Embedded Proto is open source software: you can redistribute it and/or
  modify it under the terms of the GNU General Public License as published
  by the Free Software Foundation, version 3 of the license.

  Embedded Proto  is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Embedded Proto. If not, see <https://www.gnu.org/licenses/>.

  For commercial and closed source application please visit:
  <https://embeddedproto.com/pricing/>.

  Embedded AMS B.V.
  Info:
    info at EmbeddedProto dot com

  Postal address:
    Atoomweg 2
    1627 LE, Hoorn
    the Netherlands
#}
{% for typedef in proto_file.msg_definitions %}
void test_size_{{ typedef.get_name() }}()
{
  {% for namespace in proto_file.get_namespaces() %}{{"  using namespace " if loop.first}}{{namespace}}{{"::" if not loop.last}}{{";" if loop.last}}{% endfor %}
  
  {{ typedef.get_name() }}{% for tmpl_param in typedef.get_templates() %}{{"<" if loop.first}}3{{", " if not loop.last}}{{">" if loop.last}}{% endfor %} msg;
  
  {% for field in typedef.fields %}
  {{ field.render_test(environment)|indent(2) }}
  
  {% endfor %}
  {% for oneof in typedef.oneofs %}
  {% for field in oneof.get_fields() %}
  {{ field.render_test(environment)|indent(2) }}
  
  {% endfor %}
  {% endfor %}

  msg.set_max_value();

  EmbeddedProto::WriteBufferFixedSize<1 + ({{ typedef.get_name() }}{% for tmpl_param in typedef.get_templates() %}{{"<" if loop.first}}3{{", " if not loop.last}}{{">" if loop.last}}{% endfor %}::max_serialized_size())> write_buffer;
  msg.serialize(write_buffer);
  
  msg.clear();
  EmbeddedProto::ReadBufferFixedSize<1 + ({{ typedef.get_name() }}{% for tmpl_param in typedef.get_templates() %}{{"<" if loop.first}}3{{", " if not loop.last}}{{">" if loop.last}}{% endfor %}::max_serialized_size())> read_buffer;
  msg.deserialize(read_buffer);
};

{% endfor %}